<%- include('../../partials/header') %>

<form id="new-form" action="/cards" method="POST">
  <label>Name:</label>
  <input type="text" name="name" maxlength="42" required>
  <br>
  <label>Type:</label>
  <select name="type">
    <option value="Spell">Spell</option>
  </select>
  <br>
  <label>Spell Type:</label>
  <select name="spellType">
    <option value="Normal">Normal</option>
    <option value="Continuous">Continuous</option>
    <option value="Quick-Play">Quick-Play</option>
    <option value="Field">Field</option>
    <option value="Equip">Equip</option>
  </select>
  <br>
  <label>Effect:</label>
  <textarea type="text" name="effect" maxlength="500" rows="8" cols="45"></textarea>
  <input type="submit" class="enterInfo" value="Create Card">
</form>

<%- include('../../partials/footer') %>