<%- include('../../partials/header') %>

<form id="new-form" action="/cards" method="POST">
  <label>Name:</label>
  <input type="text" name="name">
  <br>
  <label>Type:</label>
  <select name="type">
    <option value="Trap">Trap</option>
  </select>
  <br>
  <label>Trap Type:</label>
  <select name="trapType">
    <option value="Normal">Normal</option>
    <option value="Continuous">Continuous</option>
    <option value="Counter">Counter</option>
  </select>
  <br>
  <label>Effect:</label>
  <input type="text" name="effect">
  <input type="submit" value="Create Card">
</form>

<%- include('../../partials/footer') %>