@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');

/* font-family: 'PT Serif', serif; */


* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #424748;
}

body {
  background-color: rgb(1, 27, 108);
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: #020049;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;

}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
}


.login {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

#new-form {
  margin-left: 40%;
  margin-top: 8%;
  font-size: 32px;
  justify-content: right;
  position: relative;
}

#new-form > label {
  position: absolute;
  margin-left: -80px;
  padding-bottom: 10px;
  color: white;
}

#new-form > input {
  padding-bottom: 3px;
  margin-top: 10px;
  margin-left: 105px;
  position: absolute;
}

#new-form > select {
  padding-bottom: 3px;
  margin-top: 10px;
  margin-left: 105px;
  position: absolute;
}

#new-form > textarea {
  padding-bottom: 3px;
  margin-top: 10px;
  margin-left: 105px;
  position: absolute;
}



.holder {
  /* width: 300px;
  height: 100px;
  background-color: grey; */
  display: inline-block;
  margin-left: 80px;
  margin-right: 80px;
}

a {
  text-decoration: none;
}


.monsterCard {
  font-family: 'PT Serif', serif;
  color: black;
  text-align: left;
  background-image: url("https://i.imgur.com/GOK6mng.png");
  background-size: 100%;
  width: 300px;
  height: 435px;
  position: relative;
}

.spellCard {
  font-family: 'PT Serif', serif;
  color: black;
  text-align: left;
  background-image: url("https://i.imgur.com/NJ8268f.png");
  background-size: 100%;
  width: 300px;
  height: 435px;
  position: relative;
}

.trapCard {
  font-family: 'PT Serif', serif;
  color: black;
  text-align: left;
  background-image: url("https://i.imgur.com/X43Hd7W.png");
  background-size: 100%;
  width: 300px;
  height: 435px;
  position: relative;
}

.cardName {
  font-family: 'PT Serif', serif;
  color: black;
  font-size: 24px;
  margin-left: 25px;
  padding-top: 17px;
  text-wrap: nowrap;
}

.cardLevel {
  text-align: right;
  margin-right: 30px;
  padding-top: 4px;
}

.cardAttribute {
  position: absolute;
  top: 21px;
  right: 21px;
}

.cardMonsterType {
  font-family: 'PT Serif', serif;
  font-weight: bold;
  font-size: 14px;
  color: black;
  position: absolute;
  bottom: 91px;
  left: 25px;
}

.monsterEffect {
  font-family: 'PT Serif', serif;
  font-size: 12px;
  color: black;
  inline-size: 250px;
  margin-left: 25px;
  margin-top: 270px;
  line-height: 1;
}

.spellEffect {
  font-family: 'PT Serif', serif;
  font-size: 12px;
  color: black;
  inline-size: 250px;
  margin-left: 25px;
  margin-top: 280px;
  line-height: 1;
}

.trapEffect {
  font-family: 'PT Serif', serif;
  font-size: 12px;
  color: black;
  inline-size: 250px;
  margin-left: 25px;
  margin-top: 280px;
  line-height: 1;
}

hr {
  width: 83%;
  background-color: black;
  height: 1px;
  border-width: 0;
  left: 25px;
  bottom: 32px;
  position: absolute;
}

.cardAtkSpot {
  position: absolute;
  right: 126px;
  bottom: 24px;
  font-family: 'PT Serif', serif;
  font-weight: bold;
  font-size: 14px;
  color: black;
}

.cardDefSpot {
  position: absolute;
  right: 56px;
  bottom: 24px;
  font-family: 'PT Serif', serif;
  font-weight: bold;
  font-size: 14px;
  color: black;
}

.cardAtk {
  position: absolute;
  right: 94px;
  bottom: 24px;
  font-family: 'PT Serif', serif;
  font-weight: bold;
  font-size: 14px;
  color: black;
}

.cardDef {
position: absolute;
right: 24px;
bottom: 24px;
font-family: 'PT Serif', serif;
font-weight: bold;
font-size: 14px;
color: black;
}

.spellType {
  position: absolute;
  top: 53px;
  right: 30px;
  font-family: 'PT Serif', serif;
  font-weight: bold;
  font-size: 14px;
  color: black;
}

.trapType {
  position: absolute;
  top: 53px;
  right: 30px;
  font-family: 'PT Serif', serif;
  font-weight: bold;
  font-size: 14px;
  color: black;
}

.tempMonsterPic {
  position: absolute;
  top: -18.4%;
  right: -40.9%;
  transform: scale(0.415);
}

.tempSpellPic {
  position: absolute;
  top: -80%;
  right: -130%;
  transform: scale(0.21);
}

.tempTrapPic {
  position: absolute;
  top: -18.35%;
  right: -40.8%;
  transform: scale(0.414);
}

.user {
  display: flex;
  justify-content: left;
  align-items: center;
  color: white;
}

.user img {
  border-radius: 50%;
  height: 40px;
}

.commentCount {
  display: flex;
  justify-content: right;
  margin-top: -29px;
  margin-bottom: 30px;
  color: white;
}

.typeChoice {
  font-size: 56px;
  font-family: 'PT Serif', serif;
  font-weight: bold;
  justify-content: center;
  color: white;
  background-color: rgb(80, 80, 80);
  margin: 30px 550px 0px 550px;
  border-radius: 15px;
  width: 300px;
  padding-bottom: 10px;
  display: flex;

}

#add-comment-form {
  margin-bottom: 50px;
}

#add-comment-form > textarea {
  width: 600px;
  padding-top: 5px;
  font-size: 18px;
}


.commentDisplay > td {
  padding-right: 30px;
  color: white;
}

#postOptions {
  background-color: #020049;
  position: absolute;
  top: 75px;
  right: 10px;
  padding: 10px 10px 10px 10px;
  text-align: center;
}

.editPost {
  font-weight: bold;
  border-width: 0;
  border-radius: 8px;
  font-size: 36px;
  margin-bottom: 15px;
  background-color: rgb(109, 109, 109);
}

.editPost > a {
  color: white;
  font-family: 'PT Serif', serif;
}

.deletePost {
  font-family: 'PT Serif', serif;
  font-weight: bold;
  border-width: 0;
  border-radius: 8px;
  font-size: 24px;
  margin-bottom: 5px;
  background-color: red;
  color: white;
}

tr > th {
  color: white;
}
