<%- include('../partials/header') %>

<a href ="/cards/new/monster" class="typeChoice" style="background-color: rgb(238, 159, 84);">Monster</a>
<a href ="/cards/new/spell" class="typeChoice" style="background-color: rgb(42, 174, 219)">Spell</a>
<a href ="/cards/new/trap" class="typeChoice" style="background-color: rgb(144, 47, 144)">Trap</a>

<%- include('../partials/footer') %>