<%- include('../partials/header') %>

<form id="new-form" action="/cards" method="POST">
  <label>Name:</label>
  <input type="text" name="name">
  <label>Type:</label>
  <select name="type">
    <option value="Monster">Monster</option>
    <option value="Spell">Spell</option>
    <option value="Trap">Trap</option>
  </select>
  <% if (type === "Monster") { %>
  <label>Level:</label>
  <input type="text" name="level">
  <label>Attribute:</label>
  <select name="attribute">
    <option value="LIGHT">LIGHT</option>
    <option value="DARK">DARK</option>
    <option value="FIRE">FIRE</option>
    <option value="WATER">WATER</option>
    <option value="WIND">WIND</option>
    <option value="EARTH">EARTH</option>
    <option value="DIVINE">DIVINE</option>
  </select>
  <label>Monster Type:</label>
  <select name="monsterType">
    <option value="Aqua">Aqua</option>
    <option value="Beast">Beast</option>
    <option value="Beast-Warrior">Beast-Warrior</option>
    <option value="Cyberse">Cyberse</option>
    <option value="Dinosaur">Dinosaur</option>
    <option value="Divine-Beast">Divine-Beast</option>
    <option value="Dragon">Dragon</option>
    <option value="Fairy">Fairy</option>
    <option value="Fiend">Fiend</option>
    <option value="Fish">Fish</option>
    <option value="Insect">Insect</option>
    <option value="Machine">Machine</option>
    <option value="Plant">Plant</option>
    <option value="Psychic">Psychic</option>
    <option value="Pyro">Pyro</option>
    <option value="Reptile">Reptile</option>
    <option value="Rock">Rock</option>
    <option value="Sea Serpent">Sea Serpent</option>
    <option value="Spellcaster">Spellcaster</option>
    <option value="Thunder">Thunder</option>
    <option value="Warrior">Warrior</option>
    <option value="Winged Beast">Winged Beast</option>
    <option value="Wyrm">Wyrm</option>
    <option value="Zombie">Zombie</option>
  </select>
  <label>Attack:</label>
  <input type="text" name="atk">
  <label>Defense:</label>
  <input type="text" name="def">
  <% } else if (type === "Trap") { %>
  <label>Trap Type:</label>
  <select name="trapType">
    <option value="Normal">Normal</option>
    <option value="Continuous">Continuous</option>
    <option value="Counter">Counter</option>
  </select>
  <% } else if (type === "Spell") { %>
  <label>Spell Type:</label>
  <select name="spellType">
    <option value="Normal">Normal</option>
    <option value="Continuous">Continuous</option>
    <option value="Quick-Play">Quick-Play</option>
    <option value="Field">Field</option>
    <option value="Equip">Equip</option>
  </select>
  <label>Effect:</label>
  <input type="text" name="effect">
  <input type="submit" value="Create Card">
</form>

<%- include('../partials/footer') %>